body{
background:#0f172a;
color:white;
font-family:sans-serif;
text-align:center;
}

#chat{
width:60%;
margin:auto;
height:400px;
overflow:auto;
background:#1e293b;
padding:20px;
border-radius:10px;
}

.user{
color:#38bdf8;
margin:10px;
}

.ai{
color:#22c55e;
margin:10px;
}

input{
width:50%;
padding:10px;
}

button{
padding:10px 20px;
}
